.box1{
border:3px solid black;
height:200px;
width:200px;
float:left;

}
.inner{
border:1px solid black;
height:100px;
width:100px;
float:left;
}

.box2{
border:3px solid black;
height:200px;
width:200px;
float:left;
}

.box3{
border:3px solid black;
height:200px;
width:200px;
float:left;
}

.box4{
border:3px solid black;
height:200px;
width:200px;
float:left;
}

.box5{
border:3px solid black;
height:200px;
width:200px;
float:left;
}

.box6{
border:3px solid black;
height:200px;
width:200px;
float:left;
}

