.box{
border:1px solid black;
height:400px;
width:500px;
margin-left:10%;
margin-top:10%;
}
.box1{
border:1px solid black;
height:250px;
width:250px;
margin-left:10%;
float:left;
}

.box2{
border:1px solid black;
height:250px;
width:250px;
float:left;
}
.box3{
border:1px solid black;
height:250px;
width:250px;
float:left;
}

.box4{
border:1px solid black;
height:250px;
width:250px;
float:left;
}

.box5{
border:1px solid black;
height:250px;
width:250px;
float:left;
}

.box6{
border:1px solid black;
height:250px;
width:250px;
float:left;
}

.box7{
border:1px solid black;
height:250px;
width:250px;
float:left;
}

.box8{
border:1px solid black;
height:250px;
width:250px;
float:left;
}

.box9{
border:1px solid black;
height:250px;
width:250px;
float:left;
}

.box10{
border:1px solid black;
height:250px;
width:250px;
float:left;
}

